In [1]:
list()

[]

In [3]:
list(range(5))

[0, 1, 2, 3, 4]

In [4]:
list("hello python")

['h', 'e', 'l', 'l', 'o', ' ', 'p', 'y', 't', 'h', 'o', 'n']

In [6]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
#tuple
fruits = ('orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana')
fruits

('orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana')

In [8]:
for item in fruits:
    print(item)

orange
apple
pear
banana
kiwi
apple
banana

In [9]:
#拆解法
(name,age,height) = ("林水忠",25,182)
print(name)
print(age)
print(height)

林水忠
25
182

In [10]:
#拆解法,簡易語法不用小括號
name,age,height = "林水忠",25,182
print(name)
print(age)
print(height)

林水忠
25
182

In [11]:
5,7,9,'a'

(5, 7, 9, 'a')

In [13]:
#字典

codescodes:dict[str,str] = {'tw':'taiwan','jp':'janpan'}

{'tw': 'taiwan', 'jp': 'janpan'}

In [14]:
len(codes)

2

In [16]:
for item in codes:
    #item 取得key
    print(codes[item])

taiwan
janpan

In [24]:
#tuple轉dict
dict((('tw','Taiwan'),('jp','Japan')))

{'tw': 'Taiwan', 'jp': 'Japan'}

In [25]:
{1,2,3,2,3,1,1}

{1, 2, 3}

In [23]:
list({1,2,3,2,3,1,1})

[1, 2, 3]